:root {
    --off-white-blue:rgb(49, 68, 240);
    --off-white-grey:rgb(226, 226, 226);
    --text-color:rgb(63, 63, 63);
}
*{
    z-index: 1;
    outline: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
    font-size: 1.1rem;
    font-family:fantasy;
    
}
html{
    overflow-x: hidden;
}
body ,.body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    z-index: 10;
    position: fixed;
    top:0;
    width: 98vw;
    padding: .3rem .5rem;
    border-radius: 0 0 1rem 1rem;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    box-shadow: 0 .1rem .5rem -0.1rem rgb(141, 141, 187);
    align-items: center;
    justify-content: space-between;
}
.startnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stlogo{
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 2rem;
    background-color: rgb(44, 44, 44);
}
.webtitle{
    color: rgb(46, 46, 46);
    font-size: 1.2rem;
}
.nav > div{
    height: 2.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav > div >*{
    margin: .2rem;
}
.navlinks{
    height: 100%;
    margin: 0;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    background:rgb(255, 255, 255) ;
    transition:background .5s ease-in-out;
    color: var(--off-white-blue) ;
}
.navlinks:hover{
    color: white ;
    background: var(--off-white-blue);
    transition:background .5s ease-in-out;
}
.icons{
    border:none ;
    height: 2.6rem;
    width: 2.6rem;
    padding: .6rem;
    cursor: pointer;
    object-fit: contain;
    border-radius: 2rem;
    background-color: rgb(230, 227, 255);
}
.icons:hover{
    background-color: var(--off-white-blue);
} 

/* container */

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container>div{
    margin: 0;
}

.topdisplay{
    width: 100%;
    height:86vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    background:linear-gradient(65deg ,#f2f2f3,#e9e9f7,rgb(176, 176, 184));
}
.shopnow{
    height: 2rem;
    border-radius: .2rem;
    box-shadow: 0 3px .4rem 0rem grey;
    padding: 0 1.5rem;
    color: white;
    font-size: 1.2rem;
    background-color: var(--off-white-blue);
}
.shopnow::before{
    content: '';
    height: 1.6rem;
    width: 1.6rem;
}
.slidedesc{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.date{
    font-size: 1.2rem;
    margin-bottom: .1rem;
    color: rgb(48, 48, 48);
    text-transform: uppercase;
} 
.category{
    line-height: 100%;
    font-size: 3.8rem;
    margin-bottom: .6rem;
    padding: 0;
    text-transform: capitalize;
    color: black;
}
.desc{
    font-size: 1.2rem;
    margin-bottom: .6rem;
    max-width: 21rem;
    font-weight: lighter;
    color: rgb(87, 87, 87);
}
.topblur{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.show{
    width: 20rem;
    height: 20rem;
    border-radius: .5rem;
    background-color: black;
}
.titlebox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page{
    color: white;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .1rem 15%;
}
.page>.pagedescription{
    color: #e9e9e9;
    padding: 0 .3rem;
}
.salespage{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .1rem 10%;
}
.pagetitle{
    margin-bottom: .4rem;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.4rem;
    line-height: 2.6rem;
}
.pagedescription{
    margin-bottom: 1rem;
    color: var(--text-color);
    width: 70vw;
    
}
.pgdescription{
    margin-bottom: 1rem;
    color: var(--text-color);
    width: 70vw;
    text-align: center;
}
.bodycontent{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}
.alert{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.alertchild{
    width: 70vw;
    height: 25vw;
    border-radius: .5rem;
    background-color: black;
}
.categoryslide{
    width: 100%;
    padding: 0 1.6rem ;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.categorycard{
    position: relative;
    height: 12rem;
    width: 10rem;
    box-shadow: 0 0rem .4rem -.1rem grey;
    border-radius: .4rem;
    background-image: url(../images/sld1.jpg);
    box-shadow: 0 0rem .4rem 0rem grey;
    margin: .3rem .5rem;
}
.categoryimg{
    position: absolute;
    height: 12rem;
    width: 10rem;
    border-radius: .4rem;
    object-fit: cover;
    z-index: -1;
}
.ccobject{
    width: 100%;
    height: 100%;
    padding: .3rem;
    font-size: .9rem;
    display: flex;
    flex-direction: column-reverse;
    border-radius: .4rem;
    background-image:repeating-linear-gradient(180deg ,rgba(58, 58, 58, 0.3),rgba(58, 58, 58, 0.3),rgba(58, 58, 58, 0.3),rgba(5, 4, 29, 0.549),rgba(5, 4, 29,.549));
}
.ccoholder{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.712);
    border-radius: .4rem;
    padding: .2rem  ;
    transition: .3s ease-in-out;
}
.ccoholder:hover{
    transition: .3s ease-in-out;
    background-color: white;
}
.ccoholder:hover > .checkcategory{
    margin: .4rem .1rem .2rem .1rem;
}
.ccoholder>h3{
    width: 100%;
    text-align: center;
    color: rgb(12, 12, 12);
    font-weight: normal;
    font-size: 1.2rem;
}
.ccoholder>p{
    width: 100%;
    text-align: center;
    color: #3d3d3d;
    font-size: .7rem;
}
.checkcategory{
    position: relative;
    margin-top: .1rem;
    padding: .1rem 0;
    color: rgb(187, 187, 187);
    font-weight: lighter;
    border-radius: .3rem;
    background-color: var(--off-white-blue);
    margin-bottom:0rem ;
    transition: .3s ease-in-out;
    margin-top: 0rem;
    border: 2px solid var(--off-white-blue);
}
.checkcategory:hover{
    transition: .3s ease-in-out;
    color: var(--off-white-blue);
    background-color: white;
}

.ccholder:hover > .checkcategory{
    background-color: rgba(17, 17, 17, 0.993);
    margin-bottom:.2rem ;
    margin-top: .2rem;
}
.tempslide{
    width:100%;
    padding:1rem 10%;
    display: flex;
    flex-wrap: wrap;
}
.tempcard{
    background-color: white;
    width: 22.8%;
    margin: .5rem;
    border-radius: .3rem;
    box-shadow: 0 .1rem .4rem -.1rem rgb(43, 0, 112);
    position: relative;
    transition: .3s ease-in-out;

}
.tempcard:hover{
    transform: scale(102%);
    box-shadow: 0 .1rem .4rem 0rem rgb(61, 61, 61);
    transition: .3s ease-in-out;
}
.tempimg{
    background-color: #e7e7e7;
    width: 100%;
    height: 13vw;
    border-radius: .3rem .3rem 0 0;
    object-fit: contain;
}
.tempobject{
    width: 100%;
    padding:.3rem;
}
.tempholder{
    width: 100%;
}
.tempholder>h3{
    font-weight: normal;
}
.tempholder>p{
    font-size: .8rem;
}
.tempcheck{
    display: flex;
    align-items: center;
    font-weight: lighter;
    cursor: pointer;
    color: #3d3d3d;
    border-radius: .2rem;
    padding: .2rem;
    margin: .1rem .1rem;
    transition: .3s ease-in-out;
    background-color: #cfcfcf;
}
.tempcheck:hover{
    padding: .3rem .9rem;
    color: black;
    transition: .3s ease-in-out;
}
.tempcheck:first-child{
    position: relative;
    background-color: var(--off-white-blue);
    color: white;
}
.carticon{
    height: 1.6rem;
    margin-right: .3rem;
}
.pagecenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
}
.animline{
    width: 100%;
    height: .25rem;
    margin: 0;
    border-radius: .3rem;
    background: linear-gradient(90deg,blue,teal,green,yellow,orange,red);
}
.tiltbackground{
    position: relative;
    width: 100%;
    height: 30rem;
    display: flex;
    margin-top: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tiltbackground::before{
    content:'';
    position: absolute;
    background: linear-gradient(110deg,rgb(98, 2, 253),rgb(92, 0, 134),rgb(76, 3, 110),rgb(22, 0, 34));
    height: 100%;
    width: 120%;
    transform: rotate(2deg);
}
footer{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.footer{
    width: 80%;
    border-radius: .5rem .5rem 0 0;
    padding: .5rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footrow{
    color: white;
    display: flex;
    flex-direction: column;
    padding: .4rem .2rem;
}
.container{
    padding: 0;
}
.little{
    width: 100%;
    color: var(--off-white-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.littler{
    margin-top: .3rem;
    width: 100%;
    display: flex;
    align-items: center;
}
.tempbadge{
    position: absolute;
    top: .3rem;
    right: .3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #7700ff;
    justify-self: flex-end;
    border-radius: 1.5rem;
    color: white;
    font-weight: lighter;
    height: 1.4rem;
    width: 3rem ;
}
.tempitemname{
    overflow-y:hidden ;
    max-height: 2rem;
    padding: .3rem .1rem;
    color: #3d3d3d;
}
.star{
    text-decoration-line: none;
    height: 1.2rem;
    width: 1.2rem;
    object-fit: cover;
    border: 0;
    border-radius: .5rem ;
    border-width: none;
    text-decoration: none;
}
.tempraters{
    font-size: .9rem;
}
.popup{
    position: fixed;
    z-index: 12;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}
.popup::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(8, 8, 8, 0.753);

}
.price{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.popupwindow{
    position: relative;
    width: 120vh;
    height: 60vh;
    max-height: 40rem;
    border-radius: .5rem;
    background-color: #ffffff;
    box-shadow: 0 0 .8rem 0rem rgb(0, 0, 0);
    display: flex;
    align-items: center;

}
.popupimg
{
    background-color: #ffffff;
    border: none;
    box-decoration-break: none;
    border-radius: .4rem 0 0 .4rem;
    width: 50%;
    height: 100%;
    object-fit: contain;
}
.popupcontent{
    height: 100%;
    width: 50%;
    padding: .4rem;
    display: flex;
    flex-direction: column;
}
button:hover{
    cursor: pointer;
}
.h{
    display: flex;
    align-items: center;
}
